:root {
  color-scheme: dark;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0f1220;
  color: #f4f6ff;
}

button {
  font: inherit;
}
